$color1: #fff;
$color2: #C4C4C4;
$color3: #F4F4F4;
$color4: #333;
$color5: #999;

$unchangeableColor1: #A8B64F;
$unchangeableColor2: #899441;
$unchangeableColor3: #DC3E22;
$unchangeableColor4: #B7280F;
$unchangeableColor5: #EE735D;
$unchangeableColor6: #EA8979;
