.header {
  width: 100%;
  min-height: 70px;
  padding: 15px 0;
  background-color: $color1;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    gap: 20px;
    align-items: center;
  }

  &__logo {
    @include logo;
  }

  &__statistic-link {
    @include statisticLink;
  }

  &__change-theme-btn {
    @include changeThemeBtn;
  }
}

body[data-theme="dark"] {
  .header {
    background-color: $color4;
  }
}
